<!--
Short intro to post, used in lists.
-->
<article>
    <header>
        <a href="{{this.url}}" alt="{{this.title}}" title="{{ this.title }}">
            <h2>{{this.title}}</h2>
        </a>
        <time datetime="{{this.date}}">{{shortDate this.date}}</time>
    </header>

    {{!-- {{#if this.tags}}
    <p class="post-meta">
        under
        {{#each this.tags}}
            <span class="label label-light blog-list-tag">
                <a href="/blog/tags/{{this}}" alt="{{ this }}" title="{{ this }}">{{this}}</a>
            </span>
        {{/each}}
    </p>
    {{/if}} --}}

    <div class="post-body">
        {{{this.snippet}}}
        </br>
        <a href="{{this.url}}">Read more</a>
        <hr/>
    </div>
</article>