<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{meta.blog.title}}</title>

    <subtitle>{{meta.blog.subtitle}}</subtitle>

    <description>{{meta.blog.description}}</description>

    <id>{{meta.blog.uri}}</id>

    <link href="{{meta.blog.uri}}"></link>

    <link href="{{meta.blog.uri}}/feed.xml" rel="self"></link>

    <updated>{{date}}</updated>

    <author>
        <name>{{meta.owner.name}}</name>
    </author>

    {{#collections.blog}}
    <entry>
        <title>{{title}}</title>
        <link rel="alternate" href="http://goliatone.com/{{path}}"></link>
        <id>{{path}}</id>
        <published>{{date}}</published>
        <updated>{{date}}</updated>
        <author>
            <name>{{author}}</name>
        </author>
        <description>
          {{{snippet}}}
        </description>
    </entry>
    {{/collections.blog}}

</feed>